In [1]:
import pandas as pd

df = pd.read_csv('avocado.csv')
df.head(3)

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany

In [2]:
predict_df = df.copy()
predict_df.drop(['Unnamed: 0'],axis=1,inplace=True)
predict_df['Date'] = pd.to_datetime(predict_df['Date'])
predict_df.set_index('Date',inplace=True)
predict_df.sort_index()
predict_df.head()

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,
2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [3]:
predict_df['type'].unique()

array(['conventional', 'organic'], dtype=object)

In [4]:
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

In [5]:
type_dict = {'conventional':2,'organic':1}

predict_df['type'] = predict_df['type'].map(type_dict)
predict_df['type'].unique()

array([2, 1], dtype=int64)

In [6]:
labelEncoder = LabelEncoder()
predict_df = sklearn.utils.shuffle(predict_df)
X = predict_df.drop('AveragePrice',axis=1).values
y = predict_df['AveragePrice'].values

X[:,-1] = labelEncoder.fit_transform(X[:,-1])
X = preprocessing.scale(X)

D:\Ananconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [7]:
test_size = 3700

X_train = X[:-test_size]
y_train = y[:-test_size]

X_test = X[-test_size:]
y_test = y[-test_size:]


clf = LinearRegression()
clf.fit(X_train,y_train)

print(clf.score(X_test,y_test))

0.4071240087514745

In [8]:
for a,b in list(zip(X_test,y_test))[:10]:
    print('Predict: {0:.2f}   Actual:'.format(clf.predict([a])[0]),b)

Predict: 1.64   Actual: 0.81
Predict: 1.19   Actual: 1.49
Predict: 1.72   Actual: 1.43
Predict: 1.65   Actual: 1.55
Predict: 1.17   Actual: 1.26
Predict: 1.61   Actual: 1.34
Predict: 0.78   Actual: 0.96
Predict: 1.69   Actual: 2.04
Predict: 1.69   Actual: 2.06
Predict: 1.62   Actual: 1.39